<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="calculate_batch_size" xsi:type="object">BatchSize\CalculateRecommendedBatchSize\Console\Command\CommandCalculateBatchSize</item>
            </argument>
        </arguments>
    </type>
    <type name="BatchSize\CalculateRecommendedBatchSize\Console\Command\CommandCalculateBatchSize">
        <arguments>
            <argument name="resourceConnection" xsi:type="object">Magento\Framework\App\ResourceConnection</argument>
        </arguments>
    </type>
    <type name="BatchSize\CalculateRecommendedBatchSize\Model\RowSizeEstimatorPool">
        <arguments>
            <argument name="rowSizeEstimatorPool" xsi:type="array">
                <item name="catalog_category_product" xsi:type="object">Magento\Catalog\Model\Indexer\Category\Product\RowSizeEstimator</item>
                <item name="catalog_product_category" xsi:type="object">Magento\Catalog\Model\Indexer\Category\Product\RowSizeEstimator</item>
                <item name="catalog_product_attribute" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\Indexer\Eav\SourceRowSizeEstimator</item>
                <item name="catalog_product_price" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\Indexer\Price\IndexTableRowSizeEstimator</item>
                <item name="cataloginventory_stock" xsi:type="object">Magento\CatalogInventory\Model\ResourceModel\Indexer\Stock\IndexTableRowSizeEstimator</item>
            </argument>
            <argument name="resourceConnection" xsi:type="object">Magento\Framework\Indexer\IndexTableRowSizeEstimatorInterface</argument>
        </arguments>
    </type>
    <type name="BatchSize\CalculateRecommendedBatchSize\Model\CalculateBatchSize">
        <arguments>
            <argument name="resourceConnection" xsi:type="object">Magento\Framework\App\ResourceConnection</argument>
        </arguments>
    </type>
    <virtualType name="Magento\CatalogInventory\Model\ResourceModel\Indexer\Stock\IndexTableRowSizeEstimator"
                 type="Magento\Framework\Indexer\IndexTableRowSizeEstimator">
        <arguments>
            <argument name="rowMemorySize" xsi:type="number">150</argument>
        </arguments>
    </virtualType>
</config>
